MONGO_URI=your-mongo-uri-here
MONGO_USER=your-mongo-user-here
MONGO_PASS=your-mongo-password-here
# 5000 port occupied by AirPlay receiver on MacOS
PORT=10000
# Flask Secret Key (for session management)
SECRET_KEY=your-secret-key-here
# Optional: Flask Debug Mode
FLASK_DEBUG=True
